@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import "tailwindcss";

/* Tailwind Css Customization Start*/
@theme {
  --color-primary-blue: #0052cc;
  --color-slate-gray: #74788d;
  --color-dark-slate: #253642;
  --color-slate-blue: #516986;
}

@layer {
  .container {
    @apply px-5 2xl:px-32 mx-auto;
  }
  .menuItem {
    @apply px-3 py-2 text-white;
  }
  .menuText {
    @apply flex gap-2 items-center text-slate-gray text-[15px] group-hover:text-white duration-300;
  }
  .subMenuText {
    @apply text-dark-slate text-[15px] px-2 py-2 hover:bg-primary-blue hover:text-white duration-300 cursor-pointer;
  }
  .menuIcon {
    @apply text-slate-gray group-hover:text-white duration-300;
  }
}

/* Tailwind Css Customization End*/

body {
  font-family: "Sora", serif;
  background-color: #f8f8fb;
}

.text-after-effect {
  position: relative;
  z-index: 1;
}

.text-after-effect::after {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 0;
  display: block;
  width: 100%;
  height: 30%;
  z-index: -1;
  background-color: #f1b44c;
}
